.wrapper
  グループを作成しました

.left-contents
  .left-contents__user
    test-user
  .left-contents__logo
    = fa_icon 'edit'
    = fa_icon  'cog'

  .left-bottom
    .left-bottom__message1
      test
    .left-bottom__message2
      さようなら
    .left-bottom__message3
      smple-group
    .left-bottom__message4
      hello!
    .left-bottom__message5
      example
    .left-bottom__message6
      まだメッセージがありません



.rignt-contents
 .right-contents__messege1
    text-group
    .right-contents__logo
    = fa_icon 'edit'
 .right-contents__messege2
    メッセージ


.right-bottom
 .rignt-bottom__message1
 　　test-user
 .rignt-bottom__message2
    こんにちは
 .rignt-bottom__message3
 　　test-user
 .rignt-bottom__message4
    さようなら

  
